<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Life Safety & Security</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  
  <link rel="shortcut icon" href="img/icon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body class="town">
<div class="container">
	<div class="row clearfix">
		<div class="boxes topbox">
			<div class="row vertical-align">
		<div class="col-sm-4 column">
			<img src="img/logo.png">
				</div><!--
				--><div class="col-sm-8 call-today-text">
				<i class="fa fa-phone"></i>&nbsp;&nbsp;Call <em>(218) 254-4064</em> for a FREE estimate<br><text class="text-muted">
						Serving the Chisholm/Hibbing, Virginia, and Grand Rapids metro areas.
					</text>
			</div>
		</div>
	</div>
			<div class="jumbotron cloth">
				<div class="jumbo-heading-custom"><b>24 Hour Secure Monitoring</b></div>
				<p>When your home or office needs protection, you need a company you can trust to ensure your safety. You need someone who can install and monitor your property for fire, intruders or anything else that might threaten your security. Don’t use a big name company, who doesn’t understand your local needs and concerns. Use the locally owned and operated Life Security & Control for all your security concerns.</p>
			</div>
			<div class="boxes">
				<div class="row clearfix">
				
				<div class="col-md-8 column">
					<h3>
						About Us
					</h3>
					<p>
						For more than a decade, Life Security & Control has been serving Chisholm, MN and the surrounding area with the highest quality security services. We pride ourselves on fast service, quality products and our reputation in the community. Our locally owned company is fully licensed, bonded and insured for your protection.
					</p>
					<i class="fa fa-phone"></i>&nbsp;&nbsp;Call <em>(218) 254-4064</em> for a FREE estimate
				</div>
				<div class="col-md-4 column">
					<ul class="list">
						<h4>Products and Services</h4>
						<li>Access Control</li>
						<li>Alarm Systems</li>
						<li>CCTV</li>
						<li>Intercoms</li>
						<li>Security Systems</li>
						<li>Fire Alarms</li>
						<li>Video Surveillance</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 text-center column footer-on-dark">
					
						<address> Life Security & Control<br>305 Central Ave SW, Chisholm, MN 55719</address>
					
					
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</body>
</html>
